@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');
body {
    transition: 1s;
    color: white;
    font-family: 'Dongle', sans-serif;
    scrollbar-color: red;
}

a {
    color: violet;
    transition: 0.1s ease-in-out;
}

a:hover {
    font-size: 50px;
}

#nav:hover {
    font-size: 30px;
    border-radius: 0px;
    width: 350px;
}

#nav {
    position: absolute;
    border: 1px solid violet;
    border-radius: 100px;
    right: 0;
    width: 270px;
    transition: 0.2s ease-in-out;
    height: auto;
}

#ad {
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    right: 0;
}

#fb:hover {
    width: 150px;
    cursor: pointer;
}

#ins:hover {
    width: 150px;
    cursor: pointer;
}

#yt:hover {
    width: 150px;
    cursor: pointer;
}

#logo:hover {
    cursor: pointer;
}

#title {
    position: relative;
    width: 50%;
    color: rgb(255, 255, 255);
    /* border: 1px solid black */
}

#logo {
    float: left;
}

.avatar {
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.avatar:hover {
    border-radius: 0%;
}

#MainSite {
    /* border: 1px solid violet; */
    /* border-radius: 100px; */
    height: 500px;
}

#Options {
    display: none;
    float: left;
    background-color: rgba(63, 20, 119, 0.397);
    color: rgb(0, 0, 0);
    width: 155px;
    height: 400px;
    border-radius: 9px;
    transition: 1s;
}

button {
    background-color: rgba(63, 20, 119, 0.432);
    border-radius: 100px;
    width: 110px;
    height: 35px;
    transition: 0.2s;
}

#ChangeLang {
    transition: 1s;
}

hr {
    border: 1px solid white;
    width: 125px;
    border-radius: 100px;
}

footer {
    text-align: center;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
}

button:hover {
    width: 120px;
    height: 40px;
}

#title {
    color: white;
    transition: 1s;
}

#h1text {
    color: white;
    transition: 1s;
}

#back {
    color: white;
    transition: 1s;
}

#refresh {
    color: white;
    transition: 1s;
}

#buttonmode {
    color: white;
    transition: 1s;
}

#settings {
    color: white;
    transition: 1s;
}

#infoButton {
    color: white;
    transition: 1s;
}

#buttonmode {
    color: white;
    transition: 1s;
}

#text {
    color: white;
    transition: 1s;
}

#ver {
    color: white;
    transition: 1s;
}

#fb {
    border-radius: 95px;
    transition: 1s;
}

#ins {
    border-radius: 35px;
    transition: 1s;
}